.App {
  text-align: center;
}

.people {
  height: 21vh;
  overflow: hidden;
  position: relative;
  width: 15vw;
}

.elem {
  margin-bottom: -1em;
  font-size: 5em;
  transform: translateY(50%);
  transition: 0.3s;
}

.people:hover .elem {
  top: 4em;
  transform: translateY(0);
}

