.App {
  display: flex;
  flex-direction: column;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0.25em;
  text-align: center;
  width: 100%;
}

.our-people {
  text-align: center;
  width: 100%;
}

.intro p {
  margin: auto;
  padding-bottom: 5em;
  width: 50%;
}

.people {
  background-color: #f8f8f8;
  border: 1px solid #f6f6f6;
  height: 22vh;
  margin: 0.5em;
  max-height: 22vh;
  max-width: 13vw;
  min-height: 22vh;
  min-width: 13vw;
  padding: 1.75em;
  text-align: left;
  width: 13vw;
}

.boxes {
  background-color: green;
}

.elem {
  font-size: 3.45em;
  margin-bottom: -1em;
  margin-top: -1em;
}

.elem:hover {
  color: #87f0f9;
  transition: 0.2s;
}

.hidden {
  font-size: 0.75em;
  opacity: 0.15;
}

.hidden:hover {
  opacity: 1;
  transition: 0.4s;
}


/* .people:hover .hidden {
  top: 50%;
  transform: translateY(-50%);
} */

