.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro {
  background-color: orange;
}

.intro p {
  width: 50%;
}

.people {
  background-color: #f8f8f8;
  border: 1px solid #f6f6f6;
  height: 31vh;
  width: 25vw;
}

.elem {
  font-size: 5em;
  margin-bottom: -1em;
  margin-top: -1em;
}

.hidden {
  opacity: 0.15;
}

.hidden:hover {
  opacity: 1;
  transition: 0.4s;
}


/* .people:hover .hidden {
  top: 50%;
  transform: translateY(-50%);
} */

