.App {
  display: flex;
  flex-direction: column;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0.25em;
  text-align: center;
}

.intro p {
  margin: auto;
  padding-bottom: 5em;
  width: 50%;
}

.people {
  background-color: #f8f8f8;
  border: 1px solid #f6f6f6;
  height: 25vh;
  margin: 0.5em;
  max-height: 25vh;
  max-width: 15vw;
  padding: 1em;
  width: 15vw;
}

.elem {
  font-size: 3.45em;
  margin-bottom: -1em;
  margin-top: -1em;
}

.hidden {
  opacity: 0.15;
}

.hidden:hover {
  opacity: 1;
  transition: 0.4s;
}


/* .people:hover .hidden {
  top: 50%;
  transform: translateY(-50%);
} */

