.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.people {
  background-color: orange;
  height: 41vh;
  overflow: hidden;
  position: relative;
  width: 25vw;
}

.elem {
  font-size: 5em;
  margin-bottom: -1em;
}

.hidden {
  opacity: 0;
}

.hidden:hover {
  opacity: 1;
  transition: 0.4s;
}


/* .people:hover .hidden {
  top: 50%;
  transform: translateY(-50%);
} */

