.right {
  background-color: pink;
  float: right;
  height: 100vh;
  width: 40vw;
}

.cells h1 {
  text-align: center;
}

.info-box {
  background-color: green;
  justify-content: center;
  margin-top: 5em;
  width: 80%;
}
