.footer {
    background-color: orange;
    display: flex;
    justify-content: flex-end;
    margin-top: 4em;
    padding: 2em;
    text-align: left;
    width: 100%;
}

.left ul li, .right ul li {
    font-size: 1em;
    list-style-type: none;
}

.left {
    float: left;
    width: 20%;
}

.right {
    float: right;
    width: 15%;
}

.footer-title {
    font-size: 1.15em;
    font-weight: bolder;
    text-transform: uppercase;
}